_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor
assets/reports/《解码科技史》 20240413 读懂你的脑电波.mp4
assets/reports/cctv_走遍中国720P.mp4
assets/reports/央视CGTN年度系列纪录片《澎湃中国》讲述我校师生的奋斗故事-西北工业大学.mp4
assets/reports/央视13新闻1+1报道(原视频).mp4
assets/reports/《解码科技史》 20240413 读懂你的脑电波__low.mp4
assets/reports/央视CGTN年度系列纪录片《澎湃中国》讲述我校师生的奋斗故事-西北工业大学__low.mp4
assets/reports/cctv_走遍中国720P__low.mp4
assets/research/demo-UAV.mp4
